@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("woff2");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("./assets/fonts/Roboto-Bold.ttf") format("woff2");
}

@font-face {
    font-family: Roboto-Italic;
    src: url("./assets/fonts/Roboto-Italic.ttf") format("woff2");
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

body {
    font-family: roboto !important;
    font-size: 13px;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    text-align: end;
}

textarea {
    resize: none;
}

// ::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
// }

// ::-webkit-scrollbar-track {
//     background: #fff;
// }

// ::-webkit-scrollbar-thumb {
//     background: #b8bcc3;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: #a1a4aa;
// }
