$icon-size-16: 16px;
$icon-size-22: 22px;
$icon-size-24: 24px;

@mixin icon-default {
    background-image: url("./assets/images/common-icon.png");
    background-repeat: no-repeat;
    display: inline-block;
}

@mixin icon-default-2 {
    background-image: url("./assets/images/slibarmenu.png");
    background-repeat: no-repeat;
    display: inline-block;
}

@mixin icon-bind($position, $size: $icon-size-16) {
    background-position: $position;
    height: $size;
    width: $size;
}

.icon {
    @include icon-default();

    /* #region toolbar */
    &.icon-btnnew-white {
        @include icon-bind(-1px -128px);
    }
    &.icon-btnclone-white {
        @include icon-bind(-976px -128px);
    }
    &.icon-btnedit-white {
        @include icon-bind(-77px -203px);
    }
    &.icon-btndel-white {
        @include icon-bind(-1076px -128px);
    }
    &.icon-btnrefresh-white {
        @include icon-bind(-876px -128px);
    }
    /* #endregion */
    /* #region dialog */
    &.icon-save {
        @include icon-bind(-327px -127px);
    }
    &.icon-saveduplicate {
        @include icon-bind(-952px -127px);
    }
    &.icon-saveadd {
        @include icon-bind(-26px -127px);
    }
    &.icon-cancle {
        @include icon-bind(-252px -127px);
    }
    &.icon-question {
        @include icon-bind(-177px -177px);
    }
    &.icon-choose {
        @include icon-bind(-76px -178px);
    }
    &.icon-agree-blue {
        @include icon-bind(-351px -127px);
    }
    &.icon-delete {
        @include icon-bind(-2px 0, 20px);
    }
    /* #endreion */
    /* #region paging */
    &.icon-page-next {
        @include icon-bind(-749px -124px, $icon-size-24);
    }
    &.icon-page-last {
        @include icon-bind(-798px -124px, $icon-size-24);
    }
    &.icon-page-prev {
        @include icon-bind(-700px -124px, $icon-size-24);
    }
    &.icon-page-first {
        @include icon-bind(-649px -124px, $icon-size-24);
    }
    &.icon-page-loading {
        @include icon-bind(-849px -124px, $icon-size-24);
    }
    /* #endregion */
}

.icon-navbar {
    @include icon-default-2();
    /* #region navbar */
    &.icon-navbar-overview {
        @include icon-bind(0 0px, $icon-size-22);
    }
    &.icon-navbar-inventory {
        @include icon-bind(0 -355px, $icon-size-22);
    }
    /* #endregion */
}
