@import "./Generic.scss";
@import "./Icon.scss";

$navbar-width: 150px;
$header-height: 52px;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

/* #region color */
$color-white: #ffffff;
//color text
$color-text-1: #212b36;
$color-text-2: #757575;
$color-text-3: #919eab;
$color-text-4: #c4cdd5;
$color-text-5: #dfe3e8;
$color-text-6: #f1f3f8;
$color-text-7: #f0f0f0;

//color primary
$color-primary-1: #1e235a;
$color-primary-2: #2b3173;
$color-primary-3: #6b6f9d;
$color-primary-4: #e5e6eb;

//color success
$color-succes-1: #188203;
$color-succes-2: #50b83c;
$color-succes-3: #dcf1d8;

//color warning
$color-warning-1: #eb7500;
$color-warning-2: #ff9900;
$color-warning-3: #ffebcc;

//color error
$color-error-1: #ed6347;
$color-error-2: #fdac9a;
$color-error-3: #fbeae5;

/* #endregion */

/* #region Header */
.header {
    position: absolute;
    left: $navbar-width;
    top: 0;
    right: 0;
    height: $header-height;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-text-5;
    .header-left {
        .header-left-text {
            font-family: Roboto-Bold;
            font-size: 18px;
            color: $color-text-1;
            margin-left: 21px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
/* #endregion */

/* #region Navbar */
.navbar {
    background-color: $color-primary-2;
    color: #fff;
    width: $navbar-width;
    height: 100vh;
    overflow: auto;
    .logo-box {
        @include flex-row();
        padding-top: 3px;
        padding: 24px;
        height: $header-height;
        align-items: center;
        background-color: $color-primary-1;
        background-image: url("./assets/images/Logo_Full_White.png");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .navbar-content {
        .navbar-item {
            height: 40px;
            padding-left: 8px;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            &:active,
            &.active {
                background-color: $color-primary-1;
                color: #fff;
            }
            &:hover:not(.active) {
                background-color: $color-primary-1;
                color: #fff;
            }
            .navbar-item-icon {
                font-size: 22px;
                line-height: 22px;
                height: 22px;
                width: 22px;
                margin-right: 10px;
            }
            .navbar-item-text {
                height: 24px;
                line-height: 24px;
                color: $color-text-4;
            }
        }
    }
}
/* #endregion */

/* #region Content */
.content {
    position: fixed;
    left: $navbar-width;
    top: $header-height;
    right: 0px;
    bottom: 0px;
    padding: 8px;
    background-color: $color-primary-4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .toolbar {
        height: 36px;
        width: 100%;
        display: flex;
        background-color: $color-primary-1;
        .toolbar-btn {
            margin-right: 1px;
        }
    }
    .grid {
        overflow: auto;
        border-width: 1px !important;
        border-style: solid;
        border-color: #e1e1e1;
        height: 100%;
        background-color: $color-white;
    }
    .footer {
        height: 53px;
        padding: 10px !important;
        width: 100%;
        background-color: $color-white;
        margin-top: auto;
        border-left: 1px solid #e1e1e1 !important;
        border-right: 1px solid #e1e1e1 !important;
        border-bottom: 1px solid #e1e1e1 !important;
    }
}
/* #endregion */

/* #region Dialog */
.dialog {
    position: fixed;
    left: $navbar-width;
    top: $header-height;
    right: 0px;
    bottom: 0px;
    padding: 8px;
    background-color: $color-primary-4;

    z-index: 1000;
    .dialog-content {
        height: 100%;
        background-color: $color-white;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .dialog-header,
        .dialog-footer {
            height: 52px;
            width: 100%;
            display: flex;
            padding: 8px;
            padding-left: 12px;
            .dialog-btn {
                margin-right: 8px;
                .btn {
                    border-radius: 4px;
                }
                &:last-child {
                    .btn {
                        border: 1px solid $color-white;
                        &:hover {
                            border: 1px solid $color-primary-1;
                        }
                    }
                }
            }
        }
        .dialog-header {
            border-bottom: 1px solid $color-text-5;
        }
        .dialog-footer {
            border-top: 1px solid $color-text-5;
            margin-top: auto;
        }
        .dialog-body {
            padding: 8px;
            overflow-y: auto;
            // overflow-x: inherit;
            .body-item {
                .label-item {
                    font: 600 15px Roboto !important;
                    color: $color-text-2;
                    padding: 8px 0;
                    padding-bottom: 16px;
                }
                .info-item {
                    // display: table;
                    // table-layout: fixed;
                    display: flex;
                    padding: 4px 0;
                    margin-left: 12px;
                    &.check {
                        padding: 16px 0;
                    }
                    .title-item {
                        padding-top: 8px;
                        padding-right: 5px;
                        height: 34px;
                        min-width: 160px;
                        .require {
                            padding-left: 2px;
                            color: red;
                        }
                        .icon {
                            transform: translate(3px, 3px);
                        }
                    }
                    .input {
                        border-radius: 3px;
                        height: 34px;
                    }
                    .label-checkbox {
                        height: 14px;
                        line-height: 14px;
                        padding: 0 8px;
                    }
                    .note-item {
                        font: 300 13px Roboto !important;
                        font-style: italic !important;
                        padding-top: 8px;
                        padding-left: 8px;
                    }
                    .label-input-item {
                        display: flex;
                        margin-right: 20px;
                        .title-input-item {
                            height: auto;
                            background-color: #f0f0f0;
                            padding: 8px;
                            border-bottom-left-radius: 3px;
                            border-top-left-radius: 3px;
                            border-style: solid !important;
                            border-color: #dcdcdc !important;
                            border: 1px;
                            border-right: 0px;
                            min-width: 75px;
                        }
                        .input {
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                        }
                    }
                    .layout-item {
                        width: 200px;
                        height: 180px;
                        border-color: #636dde !important;
                        border-width: 1px !important;
                        border-style: dashed;
                        border-radius: 3px;
                        display: flex;
                        flex-direction: column;
                        .option-item {
                            height: 24px;
                            display: flex;
                            justify-content: flex-end;
                            .btn-option {
                                height: 24px;
                                width: 110px;
                                border-color: #ebebeb !important;
                                border-width: 1px;
                                border-style: solid;
                                border-radius: 3px;
                                display: flex;
                                justify-content: space-between;
                                padding: 4px 10px;
                                cursor: pointer;
                            }
                        }
                        .image-item {
                            display: flex;
                            justify-content: center;
                            margin-top: 22px;
                            img {
                                height: 74px;
                                width: 100px;
                                background-size: contain;
                            }
                        }
                        .up-image-item {
                            height: 32px;
                            margin-top: auto;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            .btn-primary {
                                display: inline-block;
                                padding: 4px;
                                width: 40px;
                                height: 24px;
                                border-radius: 3px;
                                text-align: center;
                                cursor: pointer;
                                background-color: $color-primary-2;
                                color: $color-white;
                                &:hover {
                                    background-color: $color-primary-3;
                                }
                            }
                        }
                    }
                    .item-combo {
                        display: flex;
                        flex-direction: column;
                        .item-combo-detail {
                            display: flex;
                            flex-direction: column;
                            .label-item-combo {
                                display: flex;
                                height: 34px;
                                line-height: 34px;
                                .title-item-combo {
                                    color: grey;
                                }
                                .info-item-combo {
                                    font-weight: 700;
                                    color: #404040;
                                }
                            }
                            .filter-item-combo {
                                display: flex;
                                width: 384px;
                                justify-content: space-between;
                                .btn {
                                    border-radius: 3px;
                                    height: 34px;
                                }
                            }
                            .grid-item-combo {
                                margin-top: 8px;
                                margin-right: 32px;
                                width: calc(100vw - 380px);
                                height: 220px;
                                overflow: auto;
                                border: 1px solid #dcdcdc;
                                .table {
                                    min-width: 980px;
                                    thead {
                                        tr {
                                            th {
                                                height: 32px;
                                                background-color: #f0f0f0;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            &:hover td {
                                                background-color: #f0f0f0 !important;
                                            }
                                            td {
                                                background-color: #f0f0f0;

                                                &:last-child {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                }
                                                .icon-copy {
                                                    cursor: pointer;
                                                    height: 16px;
                                                    width: 16px;
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    background-image: url("./assets/icons/copy-down.png");
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .add-item-combo {
                            width: 152px;
                            margin-top: 24px;
                            margin-bottom: 8px;
                            .btn {
                                border-radius: 3px;
                            }
                        }
                    }
                    .item-detail-grid {
                        margin-top: 8px;
                        margin-right: 32px;
                        width: calc(100vw - 380px);
                        height: 220px;
                        overflow: auto;
                        border: 1px solid #dcdcdc;
                        .table {
                            min-width: 980px;
                            thead {
                                tr {
                                    th {
                                        height: 32px;
                                        background-color: #f0f0f0;
                                        text-align: center;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        .icon-copy {
                                            cursor: pointer;
                                            height: 16px;
                                            width: 16px;
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            background-image: url("./assets/icons/copy-down.png");
                                        }
                                        .icon-delete {
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* #endregion */

/* #region button */
.btn {
    height: 36px;
    display: flex;
    color: $color-white;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    &.btn-primary {
        background-color: $color-primary-2;
        color: $color-white;
        &:hover {
            background-color: $color-primary-3;
        }
    }
    &.btn-secondary {
        background-color: $color-white;
        color: $color-primary-2;
        font-weight: bold;
        border: 1px solid $color-primary-1;
        &:hover {
            color: $color-primary-3;
        }
    }
    .btn-text {
        padding-left: 8px;
        padding-right: 8px;
        height: 34px;
        line-height: 34px;
    }
    .btn-icon {
        height: 34px;
        display: flex;
        align-items: center;
    }
    .btn-option {
        margin-left: 8px;
        height: 100%;
        width: 16px;
        .option-icon {
            background-image: url("./assets/icons/down-arrow.png");
            background-position: 0 0;
            background-size: contain;
            background-repeat: no-repeat;
            height: 8px;
            width: 8px;
            margin-top: 14px;
            margin-left: 8px;
        }
    }

    & ~ div {
        background-color: $color-white;
        box-shadow: 0px 4px 4px #c0c0c0;
        z-index: 100;
        position: absolute;
        padding: 1px;
        &:focus {
            outline: none;
        }
        .dropdown-item {
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            padding-right: 12px;
            padding-left: 12px;
            &:hover {
                background-color: $color-primary-1;
                color: $color-white;
            }
        }
    }
}
/* #endregion */

/* #region table */
.table {
    // display: none;
    width: 100%;
    border-collapse: collapse;
    thead tr {
        height: 35px;
        text-align: left;
        th {
            background-color: $color-text-7;
            border-bottom: 1px solid #e9e9e9;
            border-right: 1px solid #e9e9e9;
            background-color: $color-text-6;
            white-space: nowrap;
            position: sticky;
            top: 0px;
            &:first-child {
                padding-left: 10px;
                padding-right: 10px;
                z-index: 3;
            }
            .th-title {
                height: 34px;
                align-items: center;
                justify-content: center;
                display: flex;
                div {
                    display: inline-block;
                }
            }
            tr {
                &:first-child {
                    width: 100%;
                    text-align: center;
                }
                &:last-child {
                    display: flex;
                    .input {
                        border: 1px solid #e1e1e1;
                    }
                    .icon-dropdown-box {
                        right: 1px;
                        border-left: none;
                        background-color: $color-white;
                        img {
                            height: 4px;
                            width: 9px;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }
    tbody tr {
        &:hover td {
            background-color: #eaeff4 !important;
        }

        &.odd {
            background-color: $color-white;
        }
        &.even {
            background-color: #f6f6f6;
        }

        td {
            padding-left: 8px;
            padding-right: 8px;
            height: 36px;
            border-width: thin;
            border-bottom: 1px solid #e9e9e9;
            border-right: 1px solid #e9e9e9;
            &:first-child {
                padding-left: 10px;
                padding-right: 10px;
            }
            &.click {
                color: #636dde;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
/* #endregion */

/* #region checkbox */
.checkbox {
    display: none;

    & + label {
        border-radius: 2px;
        display: inline-block;
        position: relative;
        border: 2px solid $color-text-3;
        height: 14px;
        width: 14px;
    }

    &:checked + label {
        border: 0px;

        &::after {
            border-radius: 2px;
            background-image: url("./assets/icons/check.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 0;
            height: 19px;
            width: 19px;
            content: "";
            position: absolute;
            top: -3px;
            left: -3px;
        }
    }
}
/* #endregion */

/* #region filter type */
.filter-type {
    height: 34px;
    width: 34px;
    background-color: $color-white;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    border: 1px solid $color-text-5;
    font-weight: 400;

    & ~ div {
        border-radius: 3px;
        font-weight: 400;
        background-color: $color-white;
        box-shadow: 0px 4px 8px #c0c0c0;
        z-index: 20;
        position: absolute;
        margin-top: 1px;
        padding: 1px;
        &:focus {
            outline: none;
        }
        .dropdown-item {
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            padding-right: 12px;
            padding-left: 16px;
            &:hover {
                background-color: $color-primary-3;
                color: $color-white;
            }
        }
    }
}
/* #endregion */

/* #region input */
.input {
    height: 34px;
    border: 1px solid #dcdcdc;
    padding: 5px 10px;
    width: 100%;
    outline: none;

    &:focus {
        border-color: #636dde;
    }

    &.has-icon {
        padding-right: 28px;
    }

    &.has-error {
        border-color: #f20 !important;
    }
}
.con-input {
    position: relative;
    .icon-input {
        position: absolute;
        cursor: pointer;
    }
}
/* #endregion */

/* #region dropdown */
.dropdown {
    position: relative;
    .dropdown-content {
        min-width: 100%;
        position: absolute;
        background-color: $color-white;
        box-shadow: 0px 4px 8px #c0c0c0;
        z-index: 20;
        min-width: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        white-space: nowrap;
        border-radius: 3px;
        margin-top: 1px;

        &.hide {
            display: none;
        }

        .dropdown-item {
            cursor: pointer;
            padding: 0 6px;
            font: 13px Roboto;
            line-height: 22px;
            &:hover {
                background-color: $color-primary-3;
                color: $color-white;
            }
            &.active {
                background-color: $color-primary-3;
                color: $color-white;
            }
        }
        &.combo {
            &.hide {
                display: none;
            }
            display: flex;
            flex-direction: column;
            min-width: 370px;
            .dropdown-item {
                display: flex;
                height: 34px;
                align-items: center;
                &.title {
                    background-color: #f0f0f0;
                    cursor: default;
                    color: #212b36;
                    height: 30px;
                    &:hover {
                        background-color: #f0f0f0;
                        color: #212b36;
                    }
                }
                .sku-code {
                    min-width: 100px;
                }
            }
        }
    }
}
/* #endregion */

/* #region autocomplete */
.autocomplete {
    .icon-dropdown-box {
        cursor: pointer;
        height: 32px;
        display: flex;
        width: 24px;
        justify-content: center;
        align-items: center;
        top: 1px;
        right: 25px;

        img {
            height: 4px;
            width: 9px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &.add {
            top: 1px;
            right: 1px;
            border-left: 1px solid #d2d2d2;
            background-color: #f5f5f5;
            img {
                height: 12px;
                width: 12px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &.search {
            top: 1px;
            right: 1px;
            img {
                height: 14px;
                width: 18px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}
/* #endregion */

/* #region pagination */
.pagination {
    width: 100%;
    display: flex;
    height: 32px;
    align-items: center;
    .pagination-left {
        display: flex;

        .pagination-btn {
            height: 24px;
            width: 24px;
            border: 1px solid #a5a7c3;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 2px;
        }
        .pagination-item-label {
            line-height: 24px;
            margin-left: 2px;
            margin-right: 16px;
        }
        .input {
            width: 48px;
            height: 24px;
            border-radius: 3px;
            margin-right: 8px;
            border-style: #dcdcdc;
            text-align: center;
        }
        .pagination-combo {
            padding-left: 4px;
            border: 1px solid #d1d1d1;
            width: 46px;
            font-family: Roboto !important;
            color: #212121;
            appearance: none;
            text-indent: 1px;
            background: url("./assets/icons/arrow-down-line.png") no-repeat;
            background-position: 30px center;
            &:focus {
                outline: none;
            }
        }
    }
    .pagination-right {
        margin-left: auto;
        .pagination-right-info {
            padding: 0px 8px;
        }
    }
}
/* #endregion */

/* #region input-form */
.input-form {
    min-height: 34px;
    width: 295px;
    border: 1px solid #dcdcdc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 2px;
    cursor: text;
    &.focus {
        border: 1px solid #636dde;
    }

    .item-form {
        height: 22px;
        border-radius: 3px;
        background-color: $color-primary-1;
        color: $color-white;
        margin: 2px;
        display: flex;
        align-items: center;
        .text-item {
            padding: 6px;
            cursor: default;
        }
        .icon-item {
            padding: 3px 7px 4px 4px;
            cursor: pointer;
        }
    }
    input {
        height: 22px;
        // padding-left: 6px;
        width: 50px;
        outline: none;
        border: none;
    }
}
/* #endregion */
